#galleryApp {
    width: 100% !important;
    max-width: 100% !important;
    color: #DEDEDE;

    .special-gallery {
        width: 100%;
    }

    .gallery-content {
        overflow: hidden;
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
    
    .gallery-image-container {
        text-align: center;
        height: 70vh;
        margin: auto;
        margin-bottom: 20px;
        overflow-y: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50%;

        @media screen and (max-height: 750px) {
            height: 50vh;
        }

        @media screen and (max-height: 600px) {
            height: 30vh;
        }
    }

    #gallery-image {
        width: auto;
        height: auto;
        max-height: 100%;
    }

    .gallery-preview {
        height: 120px;
        background: #00000075;
        overflow: hidden;

        @media screen and (max-width: 720px) {
            height: 70px;
        }

        img {
            margin: 10px;
            max-height: 100px;
            cursor: pointer;
            display: inline;

            @media screen and (max-width: 720px) {
                max-height: 50px;
            }
        }
    }

    .selected-preview {
        border: 3px solid #1984e9;
    } 

    .special-gallery-item {
        margin: 5px;
        position: relative;
        cursor: pointer;
        display: inline-block;

        img {
            max-height: 250px;
        }

        .text-overlay { 
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background:rgb(0,0,0, 0.7);
            text-transform: uppercase;

            &:hover{
                opacity: 1;
            }

            h3{
                color: rgb(255, 255, 255);
                font-family: raleway, sans-serif;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }
    }


    .gallery-slide-button {
        z-index: 999;
        position: absolute;
        top: 50vh;
        max-width: 60px;
        cursor: pointer;
        padding: 10px 10px 0px 10px;
        background-color: #242424;
        user-select: none;
        -moz-user-select: none;

        svg path {
            fill: #DEDEDE;
        }

        &:active {
            background: #63363662;
        }

        @media screen and (max-height: 740px) {
            top: 20vh;
        }

        @media screen and (max-width: 720px) {
            padding: 5px 5px 0px 5px;
            width: 30px;
        }
    }

    .gallery-left-control {
        left: 0px;
    }
    
    .gallery-right-control {
        right: 0px;
    }

    .gallery-name {
        padding: 0px 5px;
        width: 100%;
        line-height: 24px;
        font-size: 25px;
        letter-spacing: 6px;
        text-transform: uppercase;
        font-weight: 300;
        color: #DEDEDE;
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }

    .gallery-blurb {
        padding: 0px 5px;
        width: 100%;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
        min-height: 40px;

        @media screen and (max-height: 750px) {
            margin-bottom: 15vh;
        }

        @media screen and (max-height: 600px) {
            margin-bottom: 10vh;
        }
    }
}