.gallery-grid {
    position: relative;
}

.gallery-item {
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    margin: 5px;
    z-index: 1;
    background: #464646;
    color: #fff;
}

.gallery-item.muuri-item-dragging {
    z-index: 3;
}

.gallery-item.muuri-item-releasing {
    z-index: 2;
}

.gallery-item.muuri-item-hidden {
    z-index: 0;
}

.gallery-item-content {
    position: relative;
    width: 100%;
    height: 100%;
}